.appSettings input {
	width: 100%;
	border: 1px solid gray;
	margin: 5px 0px;
}

.buttonBar {
	border: 2px solid white;
}

.comment {
	padding-left: 85px;
}

.dateInput {
	border: 1px solid gray;
	margin: 5px;
	display: block;
	clear: right;
	overflow: hidden;
}

.dateInput label, .drawerButton label {
	float: left;
	margin: 6px;
	padding-left: 8px;
	padding-right: 15px;
	width: 70px;
	font-size: 12pt;
}

.dateInput select {
	width: 100%;
	font-size: 12pt;
}

.dateInput span {
	display: block;
	overflow: hidden;
	margin: 5px;
}

.drawerButton {
	text-align: center;
	display: block;
	width: 100%;
	margin-right: 10px;
	margin-bottom: 5px;
	background-color: lightgray;
	border: 1px solid gray;
}

#filterButton {
	margin: 0px 15px;
	clear: both;
	display: block;
}

#filters button {
	float: right;
	border: none;
	background-color: transparent;
}

#filters li, #filterInput {
	border: solid 1px gray;
	width: 100%;
	clear: both;
	padding: 5px 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	display: block;
}

.hashtag {
	color: blue;
	text-decoration: underline;
}

#indexNavButton, #searchNavButton {
	font-size: 18pt;
	color: gray;
	text-align: center;
	right: 20px;
	top: 10px;
	position: fixed;
	z-index: 100;
	background-color: transparent;
	border: none;
	display: none;
}

.loading-box {
    height:100%;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-size: 16px;
    color: grey;
    padding-top: 10px;
}

.message, .result {
	border-bottom: solid;
	border-width: 2px;
	border-color: lightgray;
	padding: 5px;
	margin-bottom: 2px;
}

.messageBody {
	font-size: 12pt !important;
}

#newStory input {
	padding: 0px 5px;
}

#refreshButton {
	float: right;
	width: 20%;
}

#refreshButton:active, #searchButton:active, #goSearch:active, .delete:active, .drawerButton:active {
	background-color: darkgray;
}

#searchButton {
	border-width: 5px;
	width: 80%;
}

#searchButton, #refreshButton, #goSearch, #moreResults, #filterButton, .drawerButton {
	margin: 0;
	padding: 0 12px;
	min-width: 52px;
	min-height: 47px;
	border-width: 1px;
	border-style: solid;
	border-color: white;
	border-radius: 2px;
	vertical-align: top;
	text-align: center;
	font-size: 16px;
	line-height: 42px;
	background-color: lightgray;
}

.searchItem {
	margin: 5px 0;
}

.searchItem label {
	float: left;
	margin: 6px;
	width: 70px;
}

.searchItem span {
	display: block;
	overflow: hidden;
}

.searchItem input {
	width: 100%;
	border-style: solid;
	border-width: 2px;
	border-color: lightgray;
	border-radius: 0;
	padding-left: 5px;
}

.singleStory {
	width: 100%;
	height: 100px;
	background-color: transparent;
	border: 2px solid #81be41;
	border-radius: 5px;
	margin-bottom: 5px;
}

.storyButton {
	float: right;
	margin: 0px 10px;
}

.subelement, .messageBody {
	padding-left: 10px;
}

.userId {
	font-size: 10pt !important;
	font-weight: bold !important;
	text-decoration: underline;
}