<super-navbar>
    <super-navbar-title>
        Advanced Search
    </super-navbar-title>
</super-navbar>

<div class="padding" ng-app="SteroidsApplication" ng-controller="SearchController">

    <button id="searchNavButton" class="icon-left super-ios-arrow-up" onclick="scrollToTop()"></button>
    <script type="text/javascript">
        loadButton("search");
    </script>

    <h4>Specify the message content, hashtag(s), and/or user ID for your search.</h4>

    <form>
        <div class="searchItem">  
            <label>Message content:</label>
            <span><input type="text" ng-model="search.msgcontent"></span>
        </div>

        <div class="searchItem">
            <label>Filters:</label>
            <span><input type="text" ng-model="search.filters"></span>
        </div>
        
        <div class="searchItem">
            <label>User:</label>
            <span><input type="text" ng-model="search.user"></span>
        </div>

        <h4>Date Range</h4>
        <div class="searchItem">
            <label>From:</label>
            <span><input type="text" ng-model="search.startdate"></span>
        </div>
        <div class="searchItem">
            <label>To:</label>
            <span><input type="text" ng-model="search.enddate"></span>
        </div>

        <div class="padding">
            <button id="goSearch" ng-click="search()">Go!</button>
        </div>
    </form>

    <div id="allResults" class="padding">
        <ul>
            <li ng-repeat="result in allResults.messages.slice().reverse()" class="result">
                <p class="userId">{{result.userId}} </p>
                <p class="messageBody">{{result.message}} </p>
                <p class="subelement">{{result.timeStamp}} </p>
                <p class="subelement">
                    <span ng-repeat="filters in result.hashtags" class="hashtag">
                        #{{filters}}
                    </span>
                </p>
            </li>
        </ul>
    </div>

    <div class="padding" ng-hide="found.none">
        <p>No results found.</p>
    </div>

</div>
