<super-navbar>
    <super-navbar-title>
        Advanced Search
    </super-navbar-title>
</super-navbar>

<div class="padding" ng-controller="SearchController">

    <button id="searchNavButton" class="icon-left super-ios-arrow-up" onclick="loadAllButtons.scrollToTop()"></button>
    <script type="text/javascript">
        loadAllButtons.loadButton("search");
    </script>

    <h4>Specify the message content, hashtag(s), and/or user ID for your search.</h4>

    <form>
        <div class="searchItem" ng-controller="AutocompleteController">  
            <label>Keywords:</label>
            
            <!-- <span><input type="text" ng-model="search.keywords"></span> -->
            <span><input type="text" ng-keyup="filterTagsBySearchTerm()" autocorrect="off" autocapitalize="off" placeholder="type anything to search" ng-model="search.keywords"></span>

            {{search.keywords}}
            Here's are the name showing up.
            <div>
                <div ng-repeat="x in dealerNameSearchTerm">
                    <div>
                        <span>{{ x.hashtags }} </span>
                    </div>
                </div>
            </div>

            <p class="comment">Searches message content and hashtags</p>
        </div>

        <h4>Date Range</h4>
        <div class="searchItem">
            <label>From:</label>
            <span><input type="text" placeholder="YYYY-MM-DD" ng-model="search.startdate"></span>
        </div>
        <div class="searchItem">
            <label>To:</label>
            <span><input type="text" placeholder="YYYY-MM-DD" ng-model="search.enddate"></span>
        </div>

        <div class="padding">
            <button id="goSearch" ng-click="searchAll(15)">Go!</button>
        </div>
    </form>

    <div id="allResults" class="padding">
        <ul>
            <li ng-repeat="result in allResults.messages.slice()" ng-controller="LinkController" class="result">
                <p class="userId">{{result.userId}} </p>
                <p class="messageBody" ng-bind="modLink(result.message)"></p>
                <p class="subelement" ng-bind="modTime(result.timeStamp)"></p>
                <p class="subelement">
                    <span ng-repeat="filters in result.hashtags" class="hashtag">
                        #{{filters}}
                    </span>
                </p>
            </li>
        </ul>
        <div class="padding">
            <button id="moreResults" ng-hide="hideMoreButton" ng-click="searchAll()">
                Get more results
            </button>
            <p ng-hide="noMore">
                No more results available.
            </p>
        </div>
    </div>

    <div class="padding" ng-hide="found.none">
        <p>No results found.</p>
    </div>

</div>
