<super-navbar>
  <super-navbar-title>
    Advanced Search
  </super-navbar-title>
</super-navbar>

<div class="padding">

  <h4>Specify the message content, hashtag(s), and/or user ID for your search.</h4>

  <div class="card padding">
    <h4>Message content</h4>
    <label class="item item-input">
      <input type="text" id="namesearch">
    </label>
  </div>

  <div class="card padding">
    <h4>Hashtag</h4>
    <label class="item item-input">
      <input type="text" id="hashtagsearch">
    </label>
  </div>

  <div class="card padding">
    <h4>User ID</h4>
    <label class="item item-input">
      <input type="text" id="usersearch">
    </label>
  </div>

  <div class="card padding">
    <input type="submit" value="Go!">
  </div>

</div>
