<div class="padding appSettings" ng-controller="DrawerController">

    <super-navbar>
        <super-navbar-title>
            App Settings
        </super-navbar-title>
    </super-navbar>

    <h4>App Settings</h4>

    <div id="newStory">
	    <button class="drawerButton" ng-click="createStory()">Create New Story</button>
	    <span ng-hide="story.createInput">
	    	Name: <input type="text" ng-model="newStoryName">
	    	Tags: <input type="text" ng-model="newStoryTags">
	    </span>
	    <button class="drawerButton" ng-hide="story.createButton" ng-click="approveCreate()">Create Story</button>
	</div>

	<div id="deleteAll">
		<button class="drawerButton" ng-click="deleteAll()">Delete All Data</button>
	</div>
</div>
