<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Storyteller Consumer</title> 

    <link rel="stylesheet" href="/components/supersonic/css/supersonic.css">
    <link rel="stylesheet" href="/app/common/stylesheets/application.css">
    <link rel="import" href="/components/supersonic/components/import.html">

</head>

<body id="mainPage" ng-app="SteroidsApplication" ng-controller="FrontController">
    <div>
        <div>
            <super-navbar>
                <super-navbar-title>
                    CDK Storyteller
                </super-navbar-title>
                <super-navbar-button side="right" view-id="master-settings">Settings</super-navbar-button>
            </super-navbar>
        </div>
        
        <div class="buttonBar">
            <super-navigate view-id="story-stream">
                <button class="singleStory" ng-repeat="story in stories | orderBy:'-latestNotifStamp'" ng-click="publishInfo(story.name)">
                    <div class="badge badge-assertive notifButton" ng-bind="addPlus(story.notifications)"></div>
                    <div class="nameAndPreview">
                        <span class="storyName">{{story.name}}</span>
                        <div class="streamPreview">
                            <ul>
                                <li ng-repeat="preview in previews(story.name)">
                                    <span>{{preview}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </button>
            </super-navigate>
        </div>

        <div id="newStory">
            <div class="centerButton">
                <button class="drawerButton" ng-click="createStory()">Create New Stream</button>
            </div>
            <span id="storyInput" ng-hide="story.createInput">
                <label>Name: </label><span><input type="text" ng-model="newStoryName"></span>
                <label>Tags: </label><span><input type="text" ng-model="newStoryTags"></span>
                <p class="note">Please enter comma-separated tags</p>
            </span>
            <div class="centerButton">
                <button class="drawerButton" ng-hide="story.createButton" ng-click="approveCreate()">Follow Stream</button>
                <button class="drawerButton" ng-hide="story.createButton" ng-click="cancelCreate()">Cancel</button>
            </div>
        </div>


    </div>
</body>
</html>

