<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Storyteller Consumer</title> 

    <link rel="stylesheet" href="/components/supersonic/css/supersonic.css">
    <link rel="import" href="/components/supersonic/components/import.html"> 
     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
<!--
    <script src="http://localhost/cordova.js"></script>
    <script src="/components/steroids-js/steroids.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/supersonic/supersonic.js"></script>
    <script src="/components/webcomponentsjs/webcomponents.js"></script>
-->
</head>

<body ng-app="SteroidsApplication">
    <div ng-controller="MessageController">
        <div>
            <super-navbar>
                <super-navbar-title>
                    Consumer Application
                </super-navbar-title>
            </super-navbar>
        </div>

        <button id="topNavButton" onclick="scrollToTop()" ng-click="update()">Back to Top</button>
        <div id="spinner"></div>

        <script>

            var topButton = document.getElementById("topNavButton");
            window.onscroll = function (oEvent) {
                // var mydivpos = document.getElementById("allMessages").offsetTop;
                var height = window.innerHeight;
                if(window.pageYOffset > height) {
                    topButton.style.display = "block";
                } else {
                    topButton.style.display = "none";
                }
            };

            var timeOut;
            function scrollToTop() {
                if (document.body.scrollTop!=0 || document.documentElement.scrollTop!=0) {
                    window.scrollBy(0,-50);
                    timeOut=setTimeout('scrollToTop()',10);
                } else {
                    clearTimeout(timeOut);
                }
                // show rotating thinger at the top
                // reload page
                // hide the thinger
            }

        </script>

    	<super-navigate view-id="advanced-search">
    		<button class="button button-block button-positive icon-left super-search">Search</button>
    	</super-navigate>

        <div id="allMessages" class="padding">
            <ul>
                <li ng-repeat="msg in allMsg.messages.slice().reverse()" class="message">
                    <p class="userId">{{msg.userId}} </p>
                    <p class="messageBody">{{msg.message}} </p>
                    <p class="subelement">{{msg.timeStamp | date:'hh:mma - dd MMM yyyy'}} </p>
                    <p class="subelement">
                        <span ng-repeat="hashes in msg.hashtags">
                            #{{hashes}}
                        </span>
                    </p>
                </li>
            </ul>
        </div>

        <div class="item" id="loader">
        	<p>Load more...</p>
        </div>
    </div>
</body>
</html>
