<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title>Storyteller Consumer</title> 

    <link rel="stylesheet" href="/components/supersonic/css/supersonic.css">
    <link rel="stylesheet" href="/app/common/stylesheets/application.css">
    <link rel="import" href="/components/supersonic/components/import.html">

</head>

<body ng-app="SteroidsApplication">
    <div ng-controller="MessageController" ng-init="update()">
        <div>
            <super-navbar>
                <super-navbar-title>
                    Consumer Application
                </super-navbar-title>
            </super-navbar>
        </div>

        <button id="indexNavButton" class="icon-left super-ios-arrow-up" onclick="loadAllButtons.scrollToTop()"></button>
        <script type="text/javascript">
            loadAllButtons.loadButton("index");
        </script>
        
        <div class="buttonBar">
            <super-navigate view-id="advanced-search">
                <button id="searchButton" class="icon super-search">  Search</button>
            </super-navigate>

            <button id="refreshButton" class="icon super-refresh" ng-click="update()"></button>
        </div>

        <div class="loading-box content" ng-hide="index.spinner">
            <i class="super-loading-c"></i>  Loading...
        </div>

        <div id="allMessages" class="padding">
            <ul>
                <li ng-repeat="msg in allMsg.messages.slice().reverse()" ng-controller="LinkController" class="message">
                    <p class="userId">{{msg.userId}} </p>
                    <p class="messageBody" ng-bind-html="modLink(msg.message)"></p>
                    <p class="subelement">{{msg.timeStamp}} </p>
                    <p class="subelement">
                        <span ng-repeat="hashes in msg.hashtags" class="hashtag">
                            #{{hashes}}
                        </span>
                    </p>
                </li>
            </ul>
        </div>

    </div>
</body>
</html>

