<div class="padding appSettings" ng-controller="DrawerController">

    <super-navbar>
        <super-navbar-title>
            App Settings
        </super-navbar-title>
    </super-navbar>


    <h4>Change how often the app fetches new messages:</h4>

    <div id="setDelay">
    	<label>Delay:</label>
        <span>
            <select ng-model="delayDropdown" ng-options="delay.name for delay in delays" ng-change="changedDelay(delayDropdown)"></select>
        </span>
    </div>

    <br />
    <br />

    <h4 id="deleteAll">Delete all stored data</h4>
	<div>
		<button class="drawerButton" ng-click="deleteAll()">Delete All Data</button>
	</div>
</div>
