<div class="padding" ng-controller='SettingsController'>

    <super-navbar>
        <super-navbar-title>
            Story Settings
        </super-navbar-title>
    </super-navbar>

    <h3>Default filters</h3>

    <div class="padding">
        <ul id="filters">
            <li ng-repeat="filter in filterList">
                {{filter}}
                <button class="icon super-close-circled" ng-click="deleteFilter(filter)"></button>
            </li>
        </ul>
        <input type="text" id="filterInput" ng-model="newInput"/>
        <button id="filterButton" ng-click="addFilter()">Add filter</button>
    </div>
    <p class="note">Note: these apply to the stream and subsequent searches.</p>

    <h3>Default date range</h3>
    <div class="dateInput">
        <label>From:</label>
        <span><select ng-model="startDropdown" ng-options="time.name for time in times" ng-change="changedDate(startDropdown)"></span>
        </select>
    </div>
    <p class="note">Note: this only applies to the stream.</p>

    <br />
    <button class="deleteStory" ng-click="deleteStory()">Delete this story</button>
</div>
