<div class="padding" ng-controller='SettingsController'>

    <super-navbar>
        <super-navbar-title>
            Settings
        </super-navbar-title>
    </super-navbar>

    <h3>Default filters</h3>

    <div class="padding">
        <ul id="filters">
            <li ng-repeat="filter in filterList">
                {{filter}}
                <button class="icon super-close-circled" ng-click="deleteFilter(filter)"></button>
            </li>
        </ul>
        <input type="text" id="filterInput" ng-model="newInput"/>
        <input type="button" value="Add filter" id="filterButton" ng-click="addFilter()"/>
    </div>

    <h3>Default date range</h3>
    <div class="dateInput">
        <label>From:</label>
        <span><input type="text" placeholder="YYYY-MM-DD" ng-model="startDateInput"></span>
        <span ng-hide="hide.start">{{dateSet.start}}</span>
    </div>
    <div class="dateInput">
        <label>To:</label>
        <span><input type="text" placeholder="YYYY-MM-DD" ng-model="endDateInput"></span>
        <span ng-hide="hide.end">{{dateSet.end}}</span>
    </div>

</div>
